*{
    box-sizing: border-box;
}
.columna{
    width: 400px;
}
.logo{
    height: 70px;
    width: 110px;
}
.information_clima{
    height: 270px;
}
.box_clima_information{
    width: 300px;
    height: 100%;
   
}
.conte_termometro{
    height: 300px;
    width: 100px;
    transform: scale(.7);
   
}
.icon{
    border-radius: 50%;
    border: 1px solid #fff;
}
.body{
    height: 190px;
    width: 30px;
    background-color: #ccc;
    transform: rotate(180deg);
    border-radius:0 0 20px 20px ;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    border-bottom: 2px solid #111;
    border-left: 2px solid #111;
    border-right: 2px solid #111;
    border-top: 2px solid transparent;
    margin: auto;
}
.indicador{
    height: 183px;
    width: 95%;
    background-color: rgb(153, 187, 250);
    border-radius:0 0 20px 20px;
    margin: auto;
    transition: 1s;
}
.progress{
    height:0;
    width: 100%;
    background-color: rgb(36, 118, 241);
    margin-top: -5px;
    border-radius: 0 0 20px 20px;
    transition: 1s;
}
.circle{
    height: 60px;
    width: 60px;
    margin: auto;
    padding:5px;
    border-radius: 50%;
    background-color: #ccc;
    margin-top: -6px;
    border: 2px solid #111;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle_child{
    height: 100%;
    width: 100%;
    background-color: rgb(36, 118, 241);
    border-radius: 50%;
    position: relative;
    z-index: 50;
}


